#dataForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    padding: 30px;
    font-size: 30px;
}
.row{
    display: flex;
    gap: 10px;
}
mat-form-field {
    width: 100%;
}
.btn{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
