<div class="table-container">
  <div class="table">
    <div class="filters">
      <button (click)="filterData('total')">
        <mat-card class="card-filter blue">
          <h2 class="paira">{{ dataSource.length }}</h2> <!-- Display the total task count -->
          <p class="paira">Total Tasks</p>
        </mat-card>
      </button>
      <button (click)="filterData('Completed')">
        <mat-card class="card-filter green">
          <h2 class="paira">{{ completedValue }}</h2> <!-- Display the completed task count -->
          <p class="paira">Completed Tasks</p>
        </mat-card>
      </button>
      <button (click)="filterData('Pending')">
        <mat-card class="card-filter orange">
          <h2 class="paira">{{ pendingValue }}</h2> <!-- Display the pending task count -->
          <p class="paira">Pending Tasks</p>
        </mat-card>
      </button>
      <button (click)="filterData('Not Started')">
        <mat-card class="card-filter red">
          <h2 class="paira">{{ inprogressValue }}</h2> <!-- Display the in-progress task count -->
          <p class="paira">Inprogress</p>
        </mat-card>
      </button>
    </div>


    <div class="table-header">
      <div class="left"></div>
      <div class="right">
        <button class="dialog" mat-raised-button (click)=" openDialog()">
          <p>+ Add Task</p>
        </button>
        <input type="search" placeholder="Search.." id="">
      </div>
    </div>



    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> <span *ngIf=" element&&element.id"> {{element.id}}</span>
        <td>
      </ng-container>

      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef> Task</th>
        <td mat-cell *matCellDef="let element"> {{element?.task}} </td>
      </ng-container>

      <ng-container matColumnDef="assignto">
        <th mat-header-cell *matHeaderCellDef> AssignedBy </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip>
            <img matChipAvatar src="img.png" style="height: 30px;width: 40px;border-radius: 50%;" />
            {{ element?.assignto }}
          </mat-chip>
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element?.date|date}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" >
          <mat-chip [ngClass]="getStatusClass(element?.status)">
            {{element?.status}}
          </mat-chip>
        </td>
      </ng-container>



      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element;index as i" class="icon">
          <button class="action-button fas fa-pen" mat-button color="primary" (click)=" openDialog(element,i)"><fa-icon
              [icon]="faedit"></fa-icon></button>
          <button class="action-button fas fa-trash-alt" mat-button color="warn"
            (click)="deleteItem(element.id)"><fa-icon [icon]="Icon"></fa-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>