.example-spacer {
  flex: 1 1 auto;
}

.body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.toolBar {
  width: 70vw;
  height: 15vh;
  background-color: #c7d6ee;
  border-radius: 10px;
  margin-top: 30px;
}

span {
  font-size: 30px;
}

.img {
  height: 100px;
  width: 100px;
  background-image: url("oip.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}